@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

#reload-button, #stop-reload-button, #forward-button, #back-button {
  display:none;
}
#tracking-protection-icon-container {
  display: none;
}
#star-button-box {
  display: none;
}

:root {
  --toolbar-start-end-padding: 0 !important;
}

#nav-bar:not([tabs-hidden="true"]) {
  box-shadow: none !important;
}

#sidebar-header {
  font-size: initial !important;
  padding: 0px !important;
}
